openapi: 3.2.0
info:
  title: Omise (Opn Payments) Account API
  description: Omise, now Opn Payments (part of Opn), is an online payment gateway for Thailand, Japan, and Singapore.
  version: 2019-05-29
  contact:
    name: Opn Payments (Omise)
    url: https://www.omise.co
  license:
    name: Proprietary
    url: https://www.omise.co
servers:
- url: https://api.omise.co
  description: Core API (secret key)
- url: https://vault.omise.co
  description: Vault - tokenization only (public key)
security:
- secretKeyAuth: []
tags:
- name: Account
  description: Account profile and balance.
paths:
  /account:
    get:
      operationId: getAccount
      tags:
      - Account
      summary: Retrieve the account
      responses:
        '200':
          description: The account object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /balance:
    get:
      operationId: getBalance
      tags:
      - Account
      summary: Retrieve the balance
      responses:
        '200':
          description: The balance object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        location:
          type: string
        code:
          type: string
          description: For example authentication_failure, not_found, invalid_charge.
        message:
          type: string
    Balance:
      type: object
      properties:
        object:
          type: string
          example: balance
        livemode:
          type: boolean
        currency:
          type: string
        total:
          type: integer
        transferable:
          type: integer
        reserve:
          type: integer
        created_at:
          type: string
          format: date-time
    Account:
      type: object
      properties:
        object:
          type: string
          example: account
        id:
          type: string
        livemode:
          type: boolean
        country:
          type: string
        currency:
          type: string
        email:
          type: string
        webhook_uri:
          type: string
        supported_currencies:
          type: array
          items:
            type: string
        api_version:
          type: string
        created_at:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    secretKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://api.omise.co. The secret key (skey_test_... or skey_... ) is the username; the password is left empty.
    publicKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://vault.omise.co for tokenization and for creating sources. The public key (pkey_test_... or pkey_... ) is the username; the password is left empty.
