openapi: 3.2.0
info:
  title: Omise (Opn Payments) Recipients API
  description: Omise, now Opn Payments (part of Opn), is an online payment gateway for Thailand, Japan, and Singapore.
  version: 2019-05-29
  contact:
    name: Opn Payments (Omise)
    url: https://www.omise.co
  license:
    name: Proprietary
    url: https://www.omise.co
servers:
- url: https://api.omise.co
  description: Core API (secret key)
- url: https://vault.omise.co
  description: Vault - tokenization only (public key)
security:
- secretKeyAuth: []
tags:
- name: Recipients
  description: Bank-account recipients that transfers pay out to.
paths:
  /recipients:
    post:
      operationId: createRecipient
      tags:
      - Recipients
      summary: Create a recipient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientInput'
      responses:
        '200':
          description: The created recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listRecipients
      tags:
      - Recipients
      summary: List recipients
      responses:
        '200':
          description: A list of recipients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /recipients/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getRecipient
      tags:
      - Recipients
      summary: Retrieve a recipient
      responses:
        '200':
          description: The requested recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRecipient
      tags:
      - Recipients
      summary: Update a recipient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientInput'
      responses:
        '200':
          description: The updated recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRecipient
      tags:
      - Recipients
      summary: Delete a recipient
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        '404':
          $ref: '#/components/responses/NotFound'
  /recipients/{id}/verify:
    parameters:
    - $ref: '#/components/parameters/Id'
    patch:
      operationId: verifyRecipient
      tags:
      - Recipients
      summary: Verify a recipient
      description: Marks a recipient as verified (test mode / where supported).
      responses:
        '200':
          description: The verified recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The object was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    RecipientInput:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - individual
          - corporation
        email:
          type: string
        tax_id:
          type: string
        bank_account:
          $ref: '#/components/schemas/BankAccount'
    Recipient:
      type: object
      properties:
        object:
          type: string
          example: recipient
        id:
          type: string
        livemode:
          type: boolean
        name:
          type: string
        type:
          type: string
        email:
          type: string
        active:
          type: boolean
        verified:
          type: boolean
        default:
          type: boolean
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        created_at:
          type: string
          format: date-time
    List:
      type: object
      description: Omise paginated list envelope.
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        order:
          type: string
        location:
          type: string
    Deleted:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
        deleted:
          type: boolean
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        location:
          type: string
        code:
          type: string
          description: For example authentication_failure, not_found, invalid_charge.
        message:
          type: string
    BankAccount:
      type: object
      properties:
        object:
          type: string
          example: bank_account
        brand:
          type: string
        number:
          type: string
        name:
          type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The object identifier.
      schema:
        type: string
  securitySchemes:
    secretKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://api.omise.co. The secret key (skey_test_... or skey_... ) is the username; the password is left empty.
    publicKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://vault.omise.co for tokenization and for creating sources. The public key (pkey_test_... or pkey_... ) is the username; the password is left empty.
