openapi: 3.0.3
info:
  title: Omise (Opn Payments) Account Cards API
  description: 'Omise, now Opn Payments (part of Opn), is an online payment gateway for Thailand, Japan, and Singapore. This OpenAPI document describes a representative, grounded subset of the public REST API. The core API is served from https://api.omise.co and authenticated with a secret key via HTTP Basic (the key is the username, the password is empty). Raw card data is tokenized on a separate PCI-scoped vault host, https://vault.omise.co, authenticated with the public key. API behavior is pinned with the optional `Omise-Version` header. All monetary amounts are integers in the smallest unit of the currency (for example satang for THB, yen for JPY).

    Scope note: paths, methods, and object identifiers here are grounded in the published Omise documentation (docs.omise.co). Request and response schemas are modeled as a solid representative subset rather than a byte-for-byte mirror of every field; verify exact payloads against the live docs.'
  version: 2019-05-29
  contact:
    name: Opn Payments (Omise)
    url: https://www.omise.co
  license:
    name: Proprietary
    url: https://www.omise.co
servers:
- url: https://api.omise.co
  description: Core API (secret key)
- url: https://vault.omise.co
  description: Vault - tokenization only (public key)
security:
- secretKeyAuth: []
tags:
- name: Cards
  description: Cards saved against a customer.
paths:
  /customers/{id}/cards:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: listCustomerCards
      tags:
      - Cards
      summary: List a customer's cards
      responses:
        '200':
          description: A list of the customer's cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/{id}/cards/{card_id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    - name: card_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCustomerCard
      tags:
      - Cards
      summary: Retrieve a card
      responses:
        '200':
          description: The requested card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCustomerCard
      tags:
      - Cards
      summary: Update a card
      description: Updates the billing details of a saved card.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCustomerCard
      tags:
      - Cards
      summary: Delete a card
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The object identifier.
      schema:
        type: string
  schemas:
    List:
      type: object
      description: Omise paginated list envelope.
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        order:
          type: string
        location:
          type: string
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        location:
          type: string
        code:
          type: string
          description: For example authentication_failure, not_found, invalid_charge.
        message:
          type: string
    Card:
      type: object
      properties:
        object:
          type: string
          example: card
        id:
          type: string
        livemode:
          type: boolean
        brand:
          type: string
        last_digits:
          type: string
        first_digits:
          type: string
        name:
          type: string
        bank:
          type: string
        fingerprint:
          type: string
        expiration_month:
          type: integer
        expiration_year:
          type: integer
        security_code_check:
          type: boolean
        created_at:
          type: string
          format: date-time
    Deleted:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
        deleted:
          type: boolean
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The object was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    secretKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://api.omise.co. The secret key (skey_test_... or skey_... ) is the username; the password is left empty.
    publicKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://vault.omise.co for tokenization and for creating sources. The public key (pkey_test_... or pkey_... ) is the username; the password is left empty.
