openapi: 3.0.3
info:
  title: Omise (Opn Payments) Account Tokens API
  description: 'Omise, now Opn Payments (part of Opn), is an online payment gateway for Thailand, Japan, and Singapore. This OpenAPI document describes a representative, grounded subset of the public REST API. The core API is served from https://api.omise.co and authenticated with a secret key via HTTP Basic (the key is the username, the password is empty). Raw card data is tokenized on a separate PCI-scoped vault host, https://vault.omise.co, authenticated with the public key. API behavior is pinned with the optional `Omise-Version` header. All monetary amounts are integers in the smallest unit of the currency (for example satang for THB, yen for JPY).

    Scope note: paths, methods, and object identifiers here are grounded in the published Omise documentation (docs.omise.co). Request and response schemas are modeled as a solid representative subset rather than a byte-for-byte mirror of every field; verify exact payloads against the live docs.'
  version: 2019-05-29
  contact:
    name: Opn Payments (Omise)
    url: https://www.omise.co
  license:
    name: Proprietary
    url: https://www.omise.co
servers:
- url: https://api.omise.co
  description: Core API (secret key)
- url: https://vault.omise.co
  description: Vault - tokenization only (public key)
security:
- secretKeyAuth: []
tags:
- name: Tokens
  description: Single-use card tokenization on the vault host.
paths:
  /tokens:
    post:
      operationId: createToken
      tags:
      - Tokens
      summary: Create a token
      description: Tokenizes raw card data. Served from the vault host (https://vault.omise.co) and authenticated with the public key. Tokens are single-use.
      servers:
      - url: https://vault.omise.co
      security:
      - publicKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - card
              properties:
                card:
                  $ref: '#/components/schemas/CardInput'
      responses:
        '200':
          description: The created token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tokens/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    servers:
    - url: https://vault.omise.co
    get:
      operationId: getToken
      tags:
      - Tokens
      summary: Retrieve a token
      security:
      - publicKeyAuth: []
      responses:
        '200':
          description: The requested token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The object identifier.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        object:
          type: string
          example: error
        location:
          type: string
        code:
          type: string
          description: For example authentication_failure, not_found, invalid_charge.
        message:
          type: string
    Card:
      type: object
      properties:
        object:
          type: string
          example: card
        id:
          type: string
        livemode:
          type: boolean
        brand:
          type: string
        last_digits:
          type: string
        first_digits:
          type: string
        name:
          type: string
        bank:
          type: string
        fingerprint:
          type: string
        expiration_month:
          type: integer
        expiration_year:
          type: integer
        security_code_check:
          type: boolean
        created_at:
          type: string
          format: date-time
    CardInput:
      type: object
      required:
      - number
      - expiration_month
      - expiration_year
      properties:
        name:
          type: string
        number:
          type: string
        expiration_month:
          type: integer
        expiration_year:
          type: integer
        security_code:
          type: string
        city:
          type: string
        postal_code:
          type: string
    Token:
      type: object
      properties:
        object:
          type: string
          example: token
        id:
          type: string
        livemode:
          type: boolean
        used:
          type: boolean
        card:
          $ref: '#/components/schemas/Card'
        created_at:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The object was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    secretKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://api.omise.co. The secret key (skey_test_... or skey_... ) is the username; the password is left empty.
    publicKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth against https://vault.omise.co for tokenization and for creating sources. The public key (pkey_test_... or pkey_... ) is the username; the password is left empty.
